[submodule "external/openconnect"]
	path = external/openconnect
	url = https://github.com/openconnect/openconnect
[submodule "external/stoken"]
	path = external/stoken
	url = https://github.com/cernekee/stoken
