[submodule "external/openconnect"]
	path = external/openconnect
	url = https://github.com/openconnect/openconnect
	branch = master
[submodule "external/stoken"]
	path = external/stoken
	url = https://github.com/cernekee/stoken
        branch = main
